---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import { SITE_TITLE } from "../config";
import License from "../components/License.astro";
---

<PageLayout>
  <PageMeta title={`Privacy Policy | ${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
      <p>
        <p>We collect personal information from you, including information about your:</p><br/>
        <ul class="list-disc">
            <li>Name</li>
            <li>Contact information</li>
        </ul><br />
        <p>We collect your personal information in order to:</p><br />
        <ul class="list-disc">
            <li>Contact you</li>
        </ul><br />
        <p>Besides our staff, we share this information with:</p><br />
        <ul class="list-disc">
            <li>3rd parties in order to process and store your information for later retrieval related to the purposes given.</li>
        </ul><br />
        <p>Providing some information is optional. If you choose not to enter contact information, you will continue to be able to use the website.</p>
        <p>We keep your information safe by storing it securely and only allowing certain staff to access it.</p>
        <p>You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at abe@r1.co.nz, or +64 27 771 7332, or 19 Beresford Square, Auckland CBD 1010.</p>
    </p>
  </Fragment>
</PageLayout>
<style>

</style>
