---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import { SITE_TITLE } from "../config";
import License from "../components/License.astro";
---

<PageLayout>
  <PageMeta title={`Privacy Policy | ${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="max-w-3xl mx-auto px-4 sm:px-8 py-4">
      <p>
        <p>This Privacy Policy governs the manner in which the Whakamana Cannabis Museum o Aotearoa, hereinafter referred to as "the Museum", "Museum", or "We", collects, uses, maintains, and discloses information from users of our services.</p><br/>

        <p>We collect the following personal information from you:</p><br/>
        <ul class="list-disc">
            <li>Your name</li>
            <li>Contact information</li>
            <li>Information related to your computer or network</li>
            <li>Information related to your Museum Membership</li>
        </ul><br />
        <p>We collect this personal information for the following purposes:</p><br />
        <ul class="list-disc">
            <li>To establish and maintain contact with you</li>
            <li>To ensure the stability and security of our website</li>
            <li>To manage and maintain Museum Memberships</li>
            <li>To provide and improve the Museum Services</li>
        </ul><br />
        <p>We may share this information with:</p><br />
        <ul class="list-disc">
            <li>Selected third parties to assist in processing and storing your information for the purposes mentioned above.</li>
            <li>Third parties service providers as required to fulfill the services related to the aforementioned purposes.</li>
        </ul><br />
        <p>Please be aware that the personal data we collect may be transferred to and maintained on servers or databases located outside your region, country, or other jurisdiction, where the privacy laws may not be as protective as those in your location.</p><br />
        <p>Our services and this website are not intended for individuals under the age of 13. We do not knowingly collect personal information from individuals under 13.</p><br />
        <p>From time to time we use cookies and similar technologies on our website to improve user experience, for performance analytics, and for functionality. To manage the use of cookies on your device, you can adjust your browser settings. By using our website, you consent to the use of cookies and similar technologies.</p><br />
        <p>Please note that providing your personal information is optional, not mandatory. If you choose not to enter certain personal details, you will still be able to access and use our website.</p><br />
        <p>We adopt appropriate data collection, storage, and processing practices, along with security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information.</p><br />
        <p>We retain your personal information for as long as is necessary to fulfill the purposes for which it was collected, or to comply with legal, regulatory or internal policy requirements. However, if you wish to have your information deleted or removed, you can request this at any time.</p><br />
        <p>You possess the right to request a copy of the personal information we hold about you. You also have the right to ask us to correct your personal information if you believe it is inaccurate or incomplete. To request your information or ask for corrections, please contact us via the following:</p>
        <br />
        <p>
            Email: abe@r1.co.nz<br />
            Phone: +64 27 771 7332<br />
            Address: 19 Beresford Square, Auckland CBD 1010, New Zealand
        </p>
        <br />
        <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.</p><br />
        <p>
            Your privacy is important to us. We are committed to ensuring that your privacy is respected and maintained.
        </p>
    </p>
  </section>
</PageLayout>
<style>

</style>
