---
import HeaderLink from "./HeaderLink.astro";
---

<div class="relative isolate flex items-center justify-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <p class="text-sm leading-6 text-gray-900">
    Looking for <strong class="font-semibold">medical cannabis?</strong>&nbsp;
  </p>
  <a href="https://calyx.clinic" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Visit calyx.clinic&nbsp;<span aria-hidden="true">&rarr;</span></a>
</div>
<header class="items-center flex flex-row bg-black  ">
  <a class="skip-to-main" href="#main"> Skip to content</a>
  <nav class="items-center flex flex-row justify-between w-full max-w-3xl mx-auto px-4 sm:px-8 py-4">
    <a href="/" class="h-[100px] w-[75px]">
        <img alt="Whakamana Cannabis Museum" src="/2023/logo.png" class="object-center object-contain h-[100px] w-[75px] object-contain object-center" />
    </a>
    <section>
      <ul class="text-white sm:flex-row flex-col items-end">
        <li><HeaderLink href="/">About</HeaderLink></li>
        <li><HeaderLink href="/events">Events</HeaderLink></li>
        <li><HeaderLink href="/contact">Contact</HeaderLink></li>
        <li><HeaderLink href="/membership">Membership</HeaderLink></li>
        <li><HeaderLink href="/donate">Donate</HeaderLink></li>
      </ul>
    </section>
    <div class="w-[75px] sm:flex hidden">
    </div>
  </nav>
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }

  nav {
    display: flex;
    gap: 0.5rem;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
  }

  nav ul > li {
    padding: 0;
  }

  .social-handles {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.75rem;
  }

  .social-handles a {
    color: var(--text-heading);
    border-bottom: none;
  }
  .social-handles a:hover {
    color: var(--palette-primary);
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skip-to-main {
    border: none !important;
    position: absolute;
    left: 50%;
    top: -100rem;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    z-index: 10;
  }

  .skip-to-main:focus {
    top: initial;
  }
</style>
